:host {
  display: block;
  height: 100%;
}

.top-header {
  padding: 8px 30px;
  font-size: 13px;
  font-weight: 500;
  line-height: 100%;
  color: rgba(43, 43, 43, 1);

  svg-icon {
    margin-right: 5px;
  }

  li + li {
    margin-left: 31px;
  }
}

.logo-container {
  background-color: #f1f5f7;
  height: 80px;
  display: flex;
  align-items: center;
  padding: 0 30px;
}

.logo {
  width: 169px;
  height: 78px;

  object-fit: contain;
}

.app-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 125px);
}
