:root {
  --black: rgb(0 0 0);
  --white: rgb(255 255 255);
  --light-purple: rgb(201 165 237);
  --dark-purple: rgb(127 35 225);
  --light-gray: rgb(9 15 71 / 45.1%);
  --gray: rgb(135 135 135);
  --red: rgb(255 32 32);
}
