.form-error-text {
  color: var(--red);
  text-align: center;
}

.form-field-hint {
  margin: 0.3125rem 0 0.625rem;
  padding: 0 1.25rem;

  font-size: 0.6875rem;
  font-weight: 400;
  line-height: 1rem;
  color: rgb(187 183 183);
}

app-button + app-button {
  margin-top: 0.9375rem;
}
